<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>15511971016-g1eq9hau85hh21th52d5ve58454hcnfs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15511971016-g1eq9hau85hh21th52d5ve58454hcnfs</string>
	<key>API_KEY</key>
	<string>AIzaSyCVoqeWgt-wEvG3OFaNT1jaiEMR6rFABZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>15511971016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hiroakiapp.Swift6FireStore1</string>
	<key>PROJECT_ID</key>
	<string>swift6firestorebasic1-47b6e</string>
	<key>STORAGE_BUCKET</key>
	<string>swift6firestorebasic1-47b6e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:15511971016:ios:4d2ab92bb6c5c37b10f1fd</string>
</dict>
</plist>
